<div (click)="randomizeValues()" class="root">
  <div class="container">
    <div class="card">
      <h2>Welcome back, Munish!</h2>
      <p>Your Credit Score</p>
      <app-score-gauge [creditScore]="creditScore"></app-score-gauge>
      <div class="credit-factors">
        <p>Credit Factors</p>
        <div class="credit-factor-cards">
          <div
            *ngFor="let data of userData | keyvalue: sortInOrder"
            [ngStyle]="classStatus(data.key, data.value)"
            class="factor-card"
          >
            <h4>{{ data.value }}</h4>
            <p>{{ data.key }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="insights">
      <div class="insight-counter">
        <div class="bubble">
          <h1>{{ insightNumber() }}</h1>
        </div>
        <h1 class="insights-header">Insights</h1>
      </div>
      <h3>
        Learn what affects your credit scores and what you can do to improve
        them.
      </h3>
    </div>
  </div>
</div>
