<!--
Instructions
- Build UI as per http://tinyimg.io/i/haZ16Ur.png
- Use Angular 9 or higher
- Sample API is provided in JS part
- Credit factors should show the color as per the API.
  For example: If total accounts > 8, Box should have   green highlight. Yellow for 8 <=3 and red for < 3
- Bonus feature : When user click on anywhere,    randomize the results (score, credit factors etc)<div id="root"><div>
-->

<div (click)="randomizeValues()" class="root">
  <div class="container">
    <div class="card">
      <h2>Welcome back, Munish!</h2>
      <p>Your Credit Score</p>
      <div class="credit-arc"></div>
      <div class="credit-factors">
        <p>Credit Factors</p>
        <div class="credit-factor-cards">
          <div
            *ngFor="let data of userData | keyvalue: sortInOrder"
            [ngClass]="classStatus(data.key, data.value)"
            class="factor-card"
          >
            <h3>{{ data.value }}</h3>
            <p>{{ data.key }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="insights">
      <div class="bubble">
        <h1>{{ insightNumber() }}</h1>
      </div>
      <h1>Insights</h1>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Sagittis id
        consectetur purus ut faucibus pulvinar elementum.
      </h3>
    </div>
  </div>
  <div></div>
</div>
