@import "../styles.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 60em;
  display: flex;
  justify-content: space-between;
}

.card {
  h2 {
    margin: unset;
  }
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 5em lightgrey;
  margin: 2%;
  padding: 4% 1% 4% 1%;
}

.credit-factors {
  text-align: left;
  p {
    margin-left: 4%;
  }
}

.factor-card {
  h3 {
    margin: unset;
  }

  p {
    margin: unset;
  }
  background-color: #f1f5fb;
  width: 40%;
  margin: 2%;
  border: solid 1px #edefef;
  border-radius: 10px;
  padding: 2%;
}

.credit-factor-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.insights {
  justify-content: center ;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2%;
}

.bubble {
  h1 {
    color: white;
  }
  display: flex;
  justify-content: center;
  width: 5em;
  height: 5em;
  background-color: #3ddb93;
  border-radius: 50%;
}

.greenClass {
  border-left: solid 4px #3bdb93;
}
.redClass {
  border-left: solid 4px #ff6062;
}

.yellowClass {
  border-left: solid 4px #ffd526;
}

.gauge {
  padding: 10%;
  svg {
    max-width: 100%;
  }
  path {
    stroke-width: 35;
    stroke: #ecf0f1;
    fill: none;
    stroke-linecap: round;
  }

  text {
    font-family: "Source Sans Pro", sans-serif;
    fill: #515556;

  }

  .gauge-limits {
    fill: #acafae;
  }

}




#outline {
  stroke: transparent;
}
#bad {
  stroke: #ff6062;
}
#low {
  stroke: #ff883e;
}
#avg {
  stroke: #ffd526;
}
#high {
  stroke: #0191fd;
}
#good {
  stroke: #3bdb93;
}
#dot {
  fill: white;

  stroke-width: 20;

}

.red-circle {
  stroke: #ff6062;
}

.orange-circle{
  stroke:#ff883e;
}

.yellow-circle{
  stroke:#ffd526;
}

.blue-circle{
  stroke:#0191fd;
}

.green-circle {
  stroke:#3bdb93;
}

