<!--
Instructions
- Build UI as per http://tinyimg.io/i/haZ16Ur.png
- Use Angular 9 or higher
- Sample API is provided in JS part
- Credit factors should show the color as per the API.
  For example: If total accounts > 8, Box should have   green highlight. Yellow for 8 <=3 and red for < 3
- Bonus feature : When user click on anywhere,    randomize the results (score, credit factors etc)<div id="root"><div>
-->

<div (click)="randomizeValues()" class="root">
  <div class="container">
    <div class="card">
      <h2>Welcome back, Munish!</h2>
      <p>Your Credit Score</p>
      <!-- <app-score-gauge></app-score-gauge> -->
      <div>
        <div class="gauge">
          <svg viewBox="0 0 1000 580">
            <path id="outline" d="M 950 500 A 450 450 0 0 0 50 500"></path>
            <path id="bad" d="M 362 70 A 450 450 0 0 0 50 500"></path>
            <path id="low" d="M 580 58 A 450 450 0 0 0 410 58"></path>
            <path id="avg" d="M 750 127 A 450 450 0 0 0 630 68"></path>
            <path id="high" d="M 850 220 A 450 450 0 0 0 790 160"></path>
            <path id="good" d="M 950 500 A 450 450 0 0 0 880 260"></path>
            <circle
              r="25"
              cy="0"
              cx="0"
              id="dot"
              [ngClass]="determineStrokeColor()"
            >
              <animateMotion
                id="animation"
                dur="1s"
                calcMode="linear"
                [attr.keyPoints]="keyPoints"
                keyTimes="0;1"
                repeatCount="1"
                fill="freeze"
              >
                <mpath xlink:href="#outline"></mpath>
              </animateMotion>
            </circle>
            <text
              text-anchor="middle"
              alignment-baseline="middle"
              x="500"
              y="350"
              font-size="180"
              font-weight="bold"
            >
              {{ creditScore }}
            </text>
            <text
              text-anchor="middle"
              alignment-baseline="middle"
              x="500"
              y="500"
              font-size="60"
              font-weight="bold"
            >
              {{ creditScoreText }}
            </text>
            <text
              class="gauge-limits"
              x="15"
              y="570"
              font-size="45"
              font-weight="bold"
            >
              300
            </text>
            <text
              class="gauge-limits"
              x="915"
              y="570"
              font-size="45"
              font-weight="bold"
            >
              850
            </text>
          </svg>
        </div>
      </div>

      <div class="credit-arc"></div>
      <div class="credit-factors">
        <p>Credit Factors</p>
        <div class="credit-factor-cards">
          <div
            *ngFor="let data of userData | keyvalue: sortInOrder"
            [ngClass]="classStatus(data.key, data.value)"
            class="factor-card"
          >
            <h3>{{ data.value }}</h3>
            <p>{{ data.key }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="insights">
      <div class="bubble">
        <h1>{{ insightNumber() }}</h1>
      </div>
      <h1>Insights</h1>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Sagittis id
        consectetur purus ut faucibus pulvinar elementum.
      </h3>
    </div>
  </div>
  <div></div>
</div>
