/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #404345;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #515556;
}
h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #404345;
}
h4 {
  font-family: "Source Sans Pro", sans-serif;
}
p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  color: #959898;
}
